@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-wallpaper {
  background-image: url('./assets/bg.jpg');
}

.reset-calendar {
  background: none !important;
  border: none !important;
}